@import 'material-icons/iconfont/filled.css';
@import 'material-icons/iconfont/outlined.css';

@font-face {
  font-family: 'Lemon';
  src: url('./fonts/lemon/Lovelo-Black.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

:root {
  --Light-Orange: #FCD0A1;
  --sage: #B1B695;
  --Viridian: #53917E;
  --Wenge: #63535B;
  --Claret: #6D1A36;
  --Celestial-Blue: #39A0ED;
  --White: #FBFFFE;
  --Dark-Shadow: #011627;
  --gold: #FF9F1C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
button {
  width: 150px;
}

input {
  appearance: none;
}




html,
body {

  font-size: 16px;
  font-family: 'Lemon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--White);
  overflow: scroll;
  line-height: 1.9;
}

#content {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("./images/backgroundPhoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

#content>* {
  flex: 1;
}

#headerContainer {
  flex: 0 1 auto;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  color: var(--gold);
  background-color: var(--Viridian);

  flex-wrap: wrap;
}

.logoTitle {
  cursor: pointer;
  font-size: 3rem;

}

.right-side {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-links li a {
  font-size: 1.4em;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-links li a:hover {
  background-color: var(--Dark-Shadow);
  border-radius: 0.5em;

}


/* Hamburger Menu*/
.buttonContainer {
  display: none;
}

/* heroContainer */

#heroContainer {
  display: flex;
  flex: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.mainTitle {
  font-size: 4em;
  font-weight: bolder;
}

.bottomSection {
  margin-top: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subText {
  font-size: 3em;
  font-weight: 600;
}

.foodMenuBtn {
  background-color: var(--gold);
  border: 5px solid var(--Claret);
  cursor: pointer;
  margin-top: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  border-radius: 100px;
  padding: 2em 3em;
  color: white;
}

.foodMenuBtn:hover {
  background-color: var(--Claret);
  border: 5px solid var(--gold);
}





/* About */

#aboutContainer {
  display: flex;
  flex: 1;
  overflow: scroll;
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.about>* {
  flex: 1 1 560px;
}

.leftSideText>* {
  flex: 1;
}

.leftSideText .aboutTitle {
  font-size: 5rem;
}

.subTitle {
  font-size: 3rem;
}


/* Menu */

#menuContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
  padding: 20px;
  text-align: center;
}

.menu>* {
  flex: 1;
}

.Drinks,
.Appetizers,
.Entrees,
.Deserts {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  flex: 0 1 200px;
  background-color: var(--Dark-Shadow);

  font-weight: 800;
  font-size: 2rem;

  border: 2px solid var(--gold);
}

.rightSide {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 52px;
  flex: 2;
  padding: 20px;

  border: 2px solid var(--gold);
}


.card {
  display: flex;
  flex-direction: column;
  height: auto;
  height: 460px;
  max-width: 600px;

  background-color: var(--Claret);
}

.card>* {
  flex: 1;
}



.card .imageContainer {
  object-fit: contain;
  flex: 2;
  height: 200px;
  width: 100%;
}

.card .imageContainer img {
  height: 100%;
  width: 100%;
}


.card .bottomRow .paragraphText {
  height: 100%;
  flex: 2;
}


/* Contact */

#contactContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: scroll;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.contact h2 {
  font-size: 4rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  background-color: var(--Dark-Shadow);
  color: var(--White);
  padding: 1em;
}

.contactForm ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.listItem {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

.listItem label,
.listItem input,
.listItem textarea {
  width: 100%;
}

.listItem textarea {
  height: 150px;
  overflow: auto;
}

.listItem-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.listItem-button button {
  cursor: pointer;
  height: 62px;
  text-transform: uppercase;
  border: 2px solid var(--Light-Orange);
  font-weight: 900;
  width: 200px;
  color: var(--gold);
  background-color: var(--Viridian);
}

.listItem-button button:hover {
  background-color: var(--gold);
  color: var(--Viridian);
}