@import 'material-icons/iconfont/filled.css';
@import 'material-icons/iconfont/outlined.css';

@font-face {
  font-family: 'Lemon';
  src: url('./fonts/lemon/Lovelo-Black.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

:root {
  --Light-Orange: #FCD0A1;
  --sage: #B1B695;
  --Viridian: #53917E;
  --Wenge: #63535B;
  --Claret: #6D1A36;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html,
body {

  color: white;
  height: 100vh;
  width: 100vw;
  font-family: 'Lemon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

button {
  -webkit-appearance: button;
  opacity: 1;
  color: black
}

img {
  height: auto;
  width: 100%;
}

#content {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;

  background-image: url('./images/backgroundPhoto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#content>* {
  flex: 1;
}

#headerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 1 100px;
  background: transparent;
}

#mainContainer {

  flex: 2;
}

#footerContainer {}

#navbarContainer {
  flex: 1;
  background: transparent;
  display: flex;
  justify-content: center;
}

.navbar {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 20px;
}

.navbar ul {
  position: absolute;
  width: 100%;
  top: 100px;
  right: 0px;

  background-color: rgba(0, 0, 0, 0.6);
}


.navbar>* {
  flex: 1;
}

.left-side {

  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logoTitle {
  height: 100%;
  font-size: clamp(36px, 1.5vw, 60vw);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

}

.buttonContainer {
  position: fixed;
  top: 2.5em;
  right: 2.5em;
}

#toggle {
  z-index: 100;
  height: 100%;
  padding: 10px;
  width: 100%;
  border: black solid 1px;
  background-color: var(--Viridian);
  border-radius: 50%;
  cursor: pointer;
}




.not-active {
  display: none;
}


.is_active {

  top: 400px;
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-bottom: 20px;
}

.is-active .liElement-1 {
  flex: 1;
}

.is-active .userLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.is-active .userLink:hover {
  background-color: red;
}

#mainContainer {
  flex: 2;

  display: flex;
  flex-direction: column;
}


#heroContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero {
  flex: 1;

}

.aboutCompany {
  height: 100%;
  flex: 1;
  background-color: pink;
}

/* 
@media(hover:hover) and (pointer: fine) {
  .userLink:hover {
    background-color: red;
  }
} */


.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hero>* {
  margin-bottom: 20px;
}


.mainTitle {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 4em;
}

.bottomSection {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  padding: 2em;
}

.bottomSection>* {
  margin-bottom: 10px;
}

.subText {
  color: var(--Light-Orange);
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}

.foodMenuBtn {
  border: none;
  background-color: var(--Viridian);
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Light-Orange);
  font-weight: 900;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.foodMenuBtn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}