@import 'material-icons/iconfont/filled.css';
@import 'material-icons/iconfont/outlined.css';

@font-face {
  font-family: 'Lemon';
  src: url('./fonts/lemon/Lovelo-Black.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

:root {
  --Light-Orange: #FCD0A1;
  --sage: #B1B695;
  --Viridian: #53917E;
  --Wenge: #63535B;
  --Claret: #6D1A36;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid blue;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#content {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
}

#content>* {
  flex: 1;
}

#headerContainer {
  background-color: red;
}

#mainContainer {
  background-color: aqua;
  flex: 2;
}

#navbarContainer {
  background-color: purple;
}